# Command line tools replacements
alias cat="bat"
alias ls="lsd"
# alias cd="z"

# Shortcuts to configs
alias vimrc="nvim ~/.vimrc"
alias zshrc="nvim ~/.zshrc"
alias nvimrc="nvim ~/.config/nvim/init.vim"
alias fns="nvim ~/.functions"
alias als="nvim ~/.aliases"
alias coc="nvim ~/.config/nvim/coc-settings.json"
alias crit="nvim ~/.config/alacritty/alacritty.yml"

# Python related
alias py="python"
alias ipy="ipython3"
alias lsenvs="pyenv virtualenvs"
alias wpy="pyenv which python"
alias frg="pip freeze | rg"
alias ireq="pip install -r requirements.txt"

# Shortcuts to directories
BASEDIR="/home/senyeezus"
alias cas="cd ${BASEDIR}/Casette"
alias proj="cd ${BASEDIR}/Projects"
alias aero="cd ${BASEDIR}/Aerobotics"
alias dots="cd ~/dotfiles"
alias oss="cd ${BASEDIR}/OSS"
alias mas="cd ~/Masters"
alias hu="cd ~/Humane"
alias yd="cd ~/Yardd"

# Aerobotics
alias aerojn="cd ~/Aerobotics/aerowork && jupyter lab"
alias lgn="aeroless auth login --email senyo.simpson@aerobotics.com"

# Postgres
alias pgstart="sudo systemctl start postgresql@13-main"
alias pgstop="sudo systemctl stop postgresql@13-main"

# General
alias rs="source ~/.zshrc"
alias ignore="gi python,macos,visualstudiocode,vim,c,c++,cmake,pycharm >> .gitignore"
alias o="nvim ."
alias at="alacritty-themes"
alias hist="atuin search -i"
alias gg="googler"

# fzf
alias f="fzf"

# Ripgrep
alias arg="alias | rg"
alias lrg="l | rg"
alias erg="env | rg"

# Terraform
alias tfw="terraform workspace"
alias tfws="terraform workspace show"
alias tfwss="terraform workspace select staging"
alias tfwsp="terraform workspace select production"
alias tfwn="terraform workspace new"
alias tfwl="terraform workspace list"
alias tfp="terraform plan"
alias tfa="terraform apply"
alias tfi="terraform init"
