# command line tools replacements
alias cat="bat"
alias ls="lsd"
# alias cd="z"

# shortcuts to configs
alias vimrc="nvim ~/.vimrc"
alias zshrc="nvim ~/.zshrc"
alias nvimrc="nvim ~/.config/nvim/init.vim"
alias fns="nvim ~/.functions"
alias als="nvim ~/.aliases"
alias coc="nvim ~/.config/nvim/coc-settings.json"
alias crit="nvim ~/.config/alacritty/alacritty.yml"

# python related
alias py="python"
alias ipy="ipython3"
alias lsenvs="pyenv virtualenvs"
alias wpy="pyenv which python"
alias frg="pip freeze | rg"
alias ireq="pip install -r requirements.txt"

# Shortcuts to directories
BASEDIR="/home/senyeezus"
alias proj="cd ${BASEDIR}/Projects"
alias dots="cd ~/dotfiles"
alias mas="cd ~/Masters"

# postgres
alias pgstart="sudo systemctl start postgresql@13-main"
alias pgstop="sudo systemctl stop postgresql@13-main"

# general
alias rs="source ~/.zshrc"
alias ignore="gi python,macos,visualstudiocode,vim,c,c++,cmake,pycharm >> .gitignore"
alias o="nvim ."
alias at="alacritty-themes"
alias hist="atuin search -i"
alias gg="googler"

# fzf
alias f="fzf"

# ripgrep
alias arg="alias | rg"
alias lrg="l | rg"
alias erg="env | rg"

# terraform
alias tfw="terraform workspace"
alias tfws="terraform workspace show"
alias tfwss="terraform workspace select staging"
alias tfwsp="terraform workspace select production"
alias tfwn="terraform workspace new"
alias tfwl="terraform workspace list"
alias tfp="terraform plan"
alias tfa="terraform apply"
alias tfi="terraform init"

# tcpdump
alias td="tcpdump"

# golang
alias gog=go1.18beta2

# fly
alias flyy="cd ${BASEDIR}/Fly"
alias pxy="cd ${BASEDIR}/Fly/fly-proxy"
