set-personal-git() {
	git config --local user.name "SenYeezus"
	git config --local user.email "simpsonsenyo@gmail.com"
}

set-fly-git() {
	git config --local user.name "Senyo Simpson"
	git config --local user.email "senyo@fly.io"
}

set-luma-git() {
	git config --local user.name "Senyo Simpson"
	git config --local user.email "senyo@tryluma.com"
}
